
*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
}
nav {
    background:linear-gradient(rgb(219, 36, 4),rgb(158, 3, 24));
    padding: 10px 20px;
    display: flex;
    justify-content:center;;
    align-items: center;
  }
  
  .navbar .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  

  .readings{
    width:200px;
    padding:10px;

}

  .img-container{

width: 200px;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
transition: all 0.5s;
border: 2px solid black;
  }
 
  .img-container{
transition: all 1s;
    width: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    border: 2px solid black;
        border-radius:10px;
        background-color:ghostwhite;
        border:none;
        box-sizing:border-box;
        box-shadow:0px 0.5px 7px #9d8f8f;
      margin-top: 20px;
      padding:20px;
      }
     
       .img-container h3{
         font-family:sans-serif;
          background:linear-gradient(to right, #e91e5a,#a122ff);
     -webkit-background-clip: text;
      color:transparent;
       letter-spacing:1px;
       }
.select{
    margin-top:100px;
    font-family: sans-serif;
    background:linear-gradient(to right, #0a15de,#3d0fe3);
    -webkit-background-clip: text;
     color:transparent;
     border: none;

}

       main{
       
                display:flex;
                justify-content:center;
                align-items:center;
                gap:30px;
              }
          
         
         .img-container:hover{
            background:linear-gradient(to right, #f8dab3,#dd7381);
           color:white;
         }
          
         @media (max-width: 480px) {


            main{
            
              display:flex;
              flex-flow:wrap;
            }
        .img-container{
        
          width:150px;
          height:160px
          }
         .readings{
           width:90px;
           height:90px;
         
         }
            .select{
              margin-top:30px;
            }
        
          }
         
          
  
 
  